@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  cursor: pointer;
}
:root {
  --bg-color: #ffffff;
  --primary-color: #6509ef;
  --secondary-color: #ddb0ff;
  --primarytext-color: #1f1f1f;
  --secondarytext-color: #faefd9;
  --font-primary: "Merriweather Sans", sans-serif;
}
body {
  font-size: 62.5%;
}
.max-width {
  width: min(320ch, 100% - 4rem);
  margin-inline: auto;
}
.event-title-container {
  width: 100%;
  height: 85vh;
  background-image: url("../img/event.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.event-title-container h1 {
  position: absolute;
  top: 30%;
  font-size: 5rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: bold;
}

.event-title-container p {
  position: absolute;
  top: 65%;
  font-size: 1.2rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.event-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 3rem;
  border: 0.2rem dotted var(--primary-color);
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 2rem;
}
.card:hover {
  border: 0.2rem solid var(--primary-color);
}

.card-image {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url("../img/card.svg");
  background-size: cover;
}

.card-desc {
  grid-area: 1 / 2 / 2 / 3;
}
.card-desc h2 {
  color: var(--primarytext-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-family: var(--font-primary);
}
.card-desc p {
  color: var(--primarytext-color);
  text-align: justify;
  font-size: 1.2rem;
  font-family: var(--font-primary);
  flex-direction: column;
  flex-shrink: 0;
}

.card-desc h4 {
  color: var(--primarytext-color);
  text-align: justify;
  font-size: 1.2rem;
  font-family: var(--font-primary);
}
.card-desc .date {
  margin-top: 1rem;
}

.reg {
  margin-top: 2rem;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: bold;
}

.more-events {
  margin-top: 5rem;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  color: var(--secondarytext-color);

  background-color: var(--primary-color);
  padding: 1rem;
}
