@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
:root {
  --bg-color: #ffffff;
  --primary-color: #6509ef;
  --secondary-color: #ddb0ff;
  --primarytext-color: #1f1f1f;
  --secondarytext-color: #faefd9;
  --font-primary: "Merriweather Sans", sans-serif;
}
body {
  font-size: 62.5%;
}

footer {
  bottom: 0;
  border-radius: 2rem 2rem 0 0;
  border: 0.1rem solid var(--primarytext-color);
}

.footer-distributed {
  background-color: #e7f3ff;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 3rem 3rem 3rem 3rem;
  margin-top: 8rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: var(--primarytext-color);
  font-family: var(--font-primary);
  font-size: 2rem;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--button-color);
}

/* Footer links */

.footer-distributed .footer-links {
  color: var(--secondary-color);
  margin: 2rem 0 1.2rem;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 1rem;
  font-family: var(--font-primary);
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: var(--primarytext-color);
  font-size: 1.5rem;
  width: 2rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4.2rem;
  margin: 0rem 2rem;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 1.5rem;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--primarytext-color);
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-primary);
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  margin: 0;
  text-align: justify;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--primarytext-color);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 1rem;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: var(--primarytext-color);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--secondarytext-color);
  text-align: center;
  line-height: 2.6rem;
  margin-right: 1rem;
}

.footer-distributed .footer-icons a:hover {
  background-color: var(--button-color);
}
@media screen and (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
