@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
:root {
  --bg-color: #ffffff;
  --primary-color: #6509ef;
  --secondary-color: #ddb0ff;
  --primarytext-color: #1f1f1f;
  --secondarytext-color: #faefd9;
  --font-primary: "Merriweather Sans", sans-serif;
}
body {
  font-size: 62.5%;
}
.get-started-title {
  font-size: 4rem;
  font-family: var(--font-primary);
  margin-top: 10rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.left-column {
  margin-top: 5rem;
  text-align: justify;
  background-image: url("../img/getstarted.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.right-column {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 750px;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: var(--font-primary);
}

.form-group {
  margin-bottom: 1.5rem;
}
.form-message {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-family: var(--font-primary);
  padding: 0.5rem;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 1rem 2rem;
  border: 0.05rem solid #424242;
  border-radius: 4px;
  font-family: var(--font-primary);
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondarytext-color);
  border: none;
  border-radius: 4px;
  padding: 1.2rem 2rem;
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

@media screen and (max-width: 950px) {
  .get-started-title {
    font-size: 2rem;
  }
  .get-started-title span {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
