@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  cursor: pointer;
}
:root {
  --background-color: #ffe9b1;
  --text-color: black;
  --button-color: #7743db;
  --textbutton-color: white;
  --header-font: "Bebas Neue", sans-serif;
  --text-font: "Montserrat", sans-serif;
}
body {
  font-size: 62.5%;
}
.max-width {
  width: min(300ch, 100% - 4rem);
  margin-inline: auto;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 110vh;
  background-image: url("../img/home.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-title-one,
.home-title-two {
  font-size: 6rem;
  font-family: var(--header-font);
  letter-spacing: 0.5rem;
}
.home-title-one span,
.home-title-two span {
  color: var(--button-color);
}

.know-more {
  line-height: 5rem;
  font-family: var(--text-font);
  font-size: 1.2rem;
  background-color: var(--button-color);
  padding: 1rem 3rem;
  border-radius: 0.2rem;
  text-decoration: none;
  color: var(--background-color);
}

/***About Container***/
.about-container {
  width: 100%;
  margin-top: 4rem;
}
.about-container h1 {
  font-size: 6rem;
  font-family: var(--header-font);
  padding-left: 1rem;
  margin-bottom: 2rem;
}
span {
  color: var(--button-color);
  font-weight: bold;
}

.about-container-para p {
  font-family: var(--text-font);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  line-height: 2rem;
  margin-bottom: 10rem;
  padding: 0 1rem;
}

/***Team Container****/
.team-container {
  width: 100%;
  margin-top: 4rem;
}
.team-container h1 {
  padding-left: 1rem;
  font-size: 6rem;
  font-family: var(--header-font);
}
/**Testimonial Container***/
.testimonial-container {
  width: 100%;
  margin-top: 10rem;
}
.testimonial-container h1 {
  font-size: 6rem;
  font-family: var(--header-font);
}

@media (max-width: 950px) {
  .home-title-one,
  .home-title-two {
    font-size: 2rem;
  }
  .about-container h1,
  .testimonial-container h1,
  .team-container h1 {
    font-size: 2rem;
  }

  .about-container h1 span,
  .team-container h1 span,
  .testimonial-container h1 span {
    font-size: 2rem;
    font-family: var(--text-font);
  }
}
