@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  cursor: pointer;
}
:root {
  --bg-color: #ffffff;
  --primary-color: #6509ef;
  --secondary-color: #ddb0ff;
  --primarytext-color: #1f1f1f;
  --secondarytext-color: #faefd9;
  --font-primary: "Merriweather Sans", sans-serif;
}
body {
  font-size: 62.5%;
}
.max-width {
  width: min(320ch, 100% - 4rem);
  margin-inline: auto;
}

.meditation-container {
  width: 100%;
  height: 80vh;
  background-image: url("../img/med.svg");
  background-size: cover;
  position: relative;
}
.meditation-container h1 {
  position: absolute;
  top: 30%;
  font-size: 5rem;
  font-family: var(--font-primary);
}
.meditation-container p {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  font-family: var(--font-primary);
}
.meditation-container a {
  position: absolute;
  top: 70%;
  color: var(--secondarytext-color);
  text-decoration: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  padding: 1rem 3rem;
}
