@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --background-color: white;
  --text-color: black;
  --button-color: #6509ef;
  --textbutton-color: white;
  --header-font: "Bebas Neue", sans-serif;
  --text-font: "Montserrat", sans-serif;
}
body {
  font-size: 62.5%;
}
.max-width {
  width: min(320ch, 100% - 4rem);
  margin-inline: auto;
}
.medcorner-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../img/med.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.medcorner-container h1 {
  font-size: 6rem;
  font-family: var(--header-font);
  line-height: 7rem;
  position: absolute;
  top: 30%;
}
.medcorner-container p {
  font-size: 1.2rem;
  font-family: var(--text-font);
  font-weight: bold;
  position: absolute;
  text-align: justify;
  top: 50%;
}

.medmusic-guide {
  margin-top: 5rem;
  width: 100%;
}
.medmusic-guide h1 {
  font-size: 6rem;
  font-family: var(--header-font);
}
.medmusic-guide p {
  font-size: 1.2rem;
  font-family: var(--text-font);
  font-weight: bold;
}

.component {
  background-color: azure;
  width: 100%;
  max-width: 50rem;
  margin: 4rem auto;
  padding: 2.5rem;
  border: 0.2rem solid var(--text-color);
  box-shadow: 0.5rem 0.5rem 0rem var(--button-color);
  border-radius: 0.2rem;
}
.title {
  font-size: 3rem;
  font-family: var(--header-font);
}
.subTitle {
  color: #4f4f4f;
  font-size: 1rem;
  font-family: var(--text-font);
  font-weight: bold;
  margin-top: -3rem;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.time {
  margin: 0rem auto;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-family: var(--text-font);
  font-size: 1rem;
}

.timeline {
  width: 100%;
}
.blog-container {
  margin-top: 5rem;
  width: 100%;
}
.blog-container h1 {
  font-size: 6rem;
  font-family: var(--header-font);
}
.blog-cardholder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
}

.medcard {
  margin-top: 5rem;
  width: 25rem;
  height: 15rem;
  padding: 2rem;
  background-color: azure;
  border-radius: 0.2rem;
  outline: none;
  border: 0.2rem solid black;
  box-shadow: 0.3rem 0.3rem 0rem var(--button-color);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.medcard:hover {
  box-shadow: -0.3rem 0.3rem 0rem var(--button-color);
}

.medcard h3 {
  font-size: 2rem;
  font-family: var(--header-font);
}
.medcard p {
  font-size: 1.2rem;
  font-family: var(--text-font);
}
@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}
