@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
:root {
  --background-color: white;
  --text-color: black;
  --button-color: #6509ef;
  --textbutton-color: white;
  --header-font: "Bebas Neue", sans-serif;
  --text-font: "Montserrat", sans-serif;
}
body {
  font-size: 62.5%;
}
.testimonial-slider {
  margin: 4rem auto;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.testimonial {
  border: 0.2rem solid black;
  box-shadow: 0.5rem 0.5rem 0 var(--button-color);
  padding: 5rem 2rem;
  background-color: white;
  border-radius: 0.2rem;
}
.testimonial-text {
  font-size: 1.2rem;
  font-family: var(--text-font);
  font-weight: bold;
  margin-bottom: 2rem;
}

.testimonial-author {
  font-size: 1rem;
  font-style: italic;
  font-family: var(--text-font);
  font-weight: bold;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.next-btn {
  position: absolute;
  border: none;
  background: var(--button-color);
  color: var(--background-color);
  padding: 1rem 5rem;
  font-size: 1.2rem;
  font-family: var(--text-font);
  font-weight: bold;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.next-btn:hover {
  border-radius: 4rem;
}
@media (max-width: 768px) {
  .testimonial-slider {
    max-width: 100%;
  }
  .prev-btn {
    top: 110%;
  }
  .testimonial-text {
    font-size: 1rem;
  }
  .next-btn {
    position: absolute;
  }
}
