@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
:root {
  --bg-color: #ffffff;
  --primary-color: #6509ef;
  --secondary-color: #ddb0ff;
  --primarytext-color: #1f1f1f;
  --secondarytext-color: #faefd9;
  --font-primary: "Merriweather Sans", sans-serif;
}
body {
  font-size: 62.5%;
}
.testimonial-slider {
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
}

.testimonial {
  border: 0.2rem solid var(--primarytext-color);
  box-shadow: 0.5rem 0.5rem 0 var(--primary-color);
  padding: 5rem 5rem;
  background-color: #e7f3ff;
  border-radius: 0.5rem;
}
.testimonial-text {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
}

.testimonial-author {
  font-size: 1rem;
  font-style: italic;
  font-family: var(--font-primary);
  font-weight: bold;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.next-btn {
  position: absolute;
  border: none;
  background: var(--primary-color);
  color: var(--secondarytext-color);
  padding: 1rem 5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: var(--font-primary);
  cursor: pointer;
}
@media (max-width: 768px) {
  .testimonial-slider {
    max-width: 100%;
  }
  .prev-btn {
    top: 110%;
  }
  .testimonial-text {
    font-size: 1rem;
  }
  .next-btn {
    position: absolute;
  }
}
