@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: pointer;
}
:root{
    --primary-color : #5e04fa;
    --text-color: #27005D;
    --accent-color : #E4F1FF;
    --highlight-color:#A0FA04;
    --primary-font: "Alice",sans-serif;
}
html{
    font-size: 62.5%;
}
span{
    color:var(--primary-color);
}
.max-width {
  width: min(290ch, 100% - 4rem);
  margin-inline: auto;
}
.latest-articles-section{
    width: 100%;
    margin-top: 10rem;
  }
  
  .latest-articles-title{
    font-size: 7.5rem;
    font-family: var(--primary-font);
    opacity: 0.8;
  }
  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:2rem;
  }
  .article-card{
    background-color: var(--primary-color);
    font-size: 2.5rem;
    font-family: var(--primary-font);
    height: 30rem;
    width: 100%;
    border-radius: 0.6rem;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }  
  .article-card .article-link{
    color:var(--accent-color);
    font-size: 2rem;
    padding: 5rem;
  }
  
  .article-card:hover{
    outline:0.2rem solid white;
    outline-offset: -1.5rem;
  }

.article-card:nth-child(1),.article-card:nth-child(3)
{
    background-image: url("../img/articles/article-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.article-card:nth-child(2)
{
    background-image: url("../img/articles/article-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.article-card:nth-child(4)
{
    background-image: url("../img/articles/article-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.article-card:nth-child(5)
{
    background-image: url("../img/articles/article-4.svg");
    background-size: cover;
    background-repeat: no-repeat;
}