@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: pointer;
}
:root{
    --primary-color : #5e04fa;
    --text-color: #27005D;
    --accent-color : #E4F1FF;
    --highlight-color:#A0FA04;
    --primary-font: "Alice",sans-serif;
}
html{
    font-size: 62.5%;
}
span{
    color:var(--primary-color);
}
.max-width {
  width: min(290ch, 100% - 4rem);
  margin-inline: auto;
}
.event-tabs button{
  padding: 1.5rem;
  margin: 2rem;
  font-size: 2rem;
  font-family: var(--primary-font);
  border: none;
  border-radius: 5rem;
}
.event-tabs .active{
  background-color: var(--primary-color);
  color:var(--accent-color)
}
.event-title-container {
    width: 100%;
    height: 85vh;
    background-image: url("../img/event.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  .event-title-container h1 {
    position: absolute;
    top: 30%;
    font-size: 8rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
  }
  
  .event-title-container p {
    position: absolute;
    top: 60%;
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: bold;
  }
  
  .event-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    margin-top: 3rem;
    background-color: var(--accent-color);
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 3rem;
    border: 0.2rem solid black;
  }
  .card:hover {
    border: 0.2rem solid var(--primary-color);
  }
  
  .card-image {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .card-desc {
    grid-area: 1 / 2 / 2 / 3;
  }
  .card-desc h2 {
    color: var(--primary-color);
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-family: var(--primary-font);
  }
  .card-desc p {
    text-align: justify;
    font-size: 2rem;
    font-family: var(--primary-font);
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .card-desc h4 {
    text-align: justify;
    font-size: 2rem;
    font-family: var(--primary-font);
  }
  .card-desc .date {
    margin-top: 1rem;
  }
  
  .reg {
    margin-top: 2rem;
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .more-events {
    margin-top: 5rem;
    font-family: var(--primary-font);
    font-size: 2rem;
    color: var(--accent-color);
  
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .no-events{
    font-size: 2rem;
    font-family: var(--primary-font);
  }

  .card:nth-child(2) .card-image
  {
      background-image: url("../img/cards/card-3.svg");
  }
  
.card:nth-child(3) .card-image
{
    background-image: url("../img/cards/card.svg");
}

.card:nth-child(4) .card-image
{
    background-image: url("../img/cards/card-2.svg");
}

  /* Responsiveness */
@media screen and (max-width:900px) {
    .event-title-container{
      background-image: none;
    }
    .event-title-container h1{
      font-size: 5rem;
    }
    .card .card-image{
      display: none;
    }
}